body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.background {
  background: url('./The-Swamp.jpg');
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.container {
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
  background-color: #e0e5cd;
  border-radius: 5px;
}

.sidebar {
  float: right;
  width: 50%;
}

#main {
  z-index: 2;
}

#title {
  background: #0021a5;
  color: #e0e5cd;
  padding-top: 30px;
  margin: 0 5px;
  border-bottom: #e8491d 3px solid;
  text-align: center;
}

#img-div {
  margin: 0;
  display: inline;
  float: left;
  width: 50%;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  padding: 10px 10px;
  font-size: 17px;
}

#tribute-info {
  text-align: center;
  margin: 0 5px;
}

#tribute-info p,
#tribute-info ul {
  padding: 10px 10px;
  background-color: #0021a5;
  color: #e0e5cd;
  border-top: #e8491d 3px solid;
  border-bottom: #e8491d 3px solid;
}

#tribute-info li {
  list-style: none;
}

footer {
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar,
  #img-div {
    float: none;
    text-align: center;
    width: 100%;
  }
}
